@using Emmaus.Helper;

<div class="mainWrapper">
    <div class="CreateRole">
        <div class="title">
            @{
                List<string> roles = null;
                SelectList leaders = null;
                string action = null;
                var title = ViewData["Title"] as string;
                if (title == "Create Youth Event")
                {
                    roles = Enum.GetNames(typeof(YouthClubRole)).OrderBy(n => n).ToList();
                    leaders = new SelectList(Enum.GetNames(typeof(YouthClubLeader)).OrderBy(n => n).ToList());
                    action = "AddYouthClubRota";
                }

                else if (title == "Create Band Event")
                {
                    roles = Enum.GetNames(typeof(BandRole)).OrderBy(n => n).ToList();
                    leaders = new SelectList(Enum.GetNames(typeof(BandLeader)).OrderBy(n => n).ToList());
                    action = "AddBandRota";
                }

                else
                {
                    roles = Enum.GetNames(typeof(ProjectionRole)).OrderBy(n => n).ToList();
                    leaders = new SelectList(Enum.GetNames(typeof(ProjectionLeader)).OrderBy(n => n).ToList());
                    action = "AddProjectionRota";
                }
            }
            Add To Rota
        </div>

        <div class="Form-style">

            <form asp-action="@action" method="post">

                <input class="input date" required type="date" name="dateTime" min="2018-01-01" max="2020-12-31"/>
                <select class="input" name="Name" asp-items="@leaders"></select>
                <br>
                @foreach (var role in roles)
                {
                    <br><input type="checkbox" name="roles" value="@role">@Html.Raw("&nbsp") @role<br>
                }
                <br>

                <button onclick="validateRoles()" class="submit" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>

<script>
    function validateRoles() {
        if ($("input:checked").length == 0) {
            alert("Please select at least one role.");
            event.preventDefault();
            return;
        }
    }
</script>