@using Emmaus.Helper;
@{
    var services = (IEnumerable<Service>)ViewData["services"];
    string newTitle = ServiceListHelper.Title(services, "Kids");
}

<div class="mainWrapper">

    <!--#region table  -->
    <div class="editTable">

        <div class="title">
            @*@Html.Raw(@newTitle)*@Kids
        </div>

        <div class="fieldOne table-header">
            <p><span class="glyphicon glyphicon-time"></span>@*Date*@</p>
        </div>

        <div class="fieldTwo table-header">
            <p>Story</p>
        </div>

        <div class="fieldThree table-header">
            <p><span class="glyphicon glyphicon-book"></span>@*Text*@</p>
        </div>

        <div class="fieldFour table-header">
            <p><span class="glyphicon glyphicon-user"></span>@*Speaker*@</p>
        </div>

        <div class="fieldFive table-header">
            <p></p>
        </div>

        <div class="fieldSix table-header">
            <p></p>
        </div>

        @foreach (var service in services)
        {
            <div class="fieldOne">
                <p>@service.ToDayMonth()<input style="width:146px;" class="" type="date" name="dateTime" value="@service.Date" /></p>
            </div>
            <div class="fieldTwo">
                <textarea name="Story" cols="15" rows="4">@service.Story</textarea>
            </div>
            <div class="fieldThree">
                <textarea name="Text" cols="12" rows="4">@service.Text</textarea>
            </div>
            <div class="fieldFour">
                <textarea name="Speaker" cols="5" rows="4">@service.Speaker</textarea>
            </div>
            <div class="fieldFive">
                <p>
                    <a onclick="EditService(this)"><span class="glyphicon glyphicon-floppy-disk"></span></a>
                </p>
            </div>
            <div id="@service.Id" class="fieldSix">
                <p>
                    <a onclick="ConfirmDelete('Delete Service?')" asp-action="DeleteAdultService" asp-route-id="@service.Id"><span class="glyphicon glyphicon-trash"></span></a>
                </p>
            </div>
        }

    </div>
    <!--#endregion -->
</div>

<script>
    function ConfirmDelete(message) {
        if (confirm(message)) {
            return;
        }
        event.preventDefault();
    }

    function EditService(self) {
        var divParent = self.parentElement.parentElement;
        var divArray = Array.prototype.slice.call(document.getElementsByClassName('editTable')[0].children);
        var pos = divArray.indexOf(divParent);
        var speaker = divArray[pos - 2].children[0].value;
        var text = divArray[pos - 3].children[0].value;
        var story = divArray[pos - 4].children[0].value;
        var id = divParent.id;
        var date = divArray[pos - 5];
        let newDate = date.children[0].children[0].value;
        if (newDate === '') {
            newDate = '1999-01-01';
        }

        var url = '@Html.Raw(@Url.Action("EditAdultService", "Ui"))' + '?dateTime=' + newDate + '&story=' + story + '&speaker=' + speaker + '&text=' + text + '&id=' + id;
        divArray[pos].getElementsByTagName("a")[0].href = url;
    }

</script>