@using Emmaus.Helper;
@{
    var title = (string)ViewData["Title"];
    var rota = (RotaDictionary)ViewData["rota"];
    //var rotas = (List<RotaDto>)ViewData["rota"];
    var names = ((List<string>)ViewData["names"]);
    //var dates = rotas.Select(r => new Date(r.Year, r.Month, r.Day)).ToList().DistinctBy(r => new { r.Year, r.Month, r.Day }).ToList().OrderBy(d => d.Year).ThenBy(d => d.Month).ThenBy(d => d.Day);
    //var dateToListOfRolesMap = new Dictionary<string, Dictionary<string, string>>();
    //foreach (var date in dates)
    //{
    //    var rolesNameMap = new Dictionary<string, string>();
    //    foreach (var name in names)
    //    {

    //        var rota = rotas.Where(r => r.Year == date.Year && r.Month == date.Month && r.Day == date.Day && r.Name == name).ToList();
    //        if (rota.Count == 1)
    //        {
    //            rolesNameMap.Add(name, rota[0].Role);
    //        }
    //        else if (rota.Count > 1)
    //        {
    //            rolesNameMap.Add(name, String.Join(" ", rota.Select(r => r.Role)));
    //        }
    //        else
    //        {
    //            rolesNameMap.Add(name, "--");
    //        }
    //    }
    //    dateToListOfRolesMap[date.ToString()] = rolesNameMap;
    //}
}

<div class="mainWrapper">

    <div class="title">
        Rota Management
    </div>

    <!--#region table  -->
    <div class="rotaManagement">

        <table style="">
            <tr>
                <th class="table-header">Date</th>

                @if (names.Count > 0)
                {
                    @foreach (var name in names)
                    {
                        <th class="table-header">@name.JoinedCapitalizedNameToSpaceSeparatedName()</th>
                    }
                }
                else
                {
                    <th class="table-header">Name</th>
                }

            </tr>

            @if (rota.DateNameJobListPairs.Count > 0)
            {
                @foreach (var date in rota.DateNameJobListPairs.Keys)
                {
                    <tr>
                        <td class="field">@date.ToFriendly()</td>

                        @foreach (string name in names)
                        {

                            <td class="field">
                                <p hidden>Remove @name.JoinedCapitalizedNameToSpaceSeparatedName() from rota on: @date.ToFriendly()</p>
                                @{
                                    foreach (var role in @rota.DateNameJobListPairs[date].KeyValues[name])
                                    {
                                        if (title == "Band Rota")
                                        {
                                            <a onclick="ConfirmDelete(this)" asp-action="DeleteFromRotaBand" asp-route-year="@date.Year"asp-route-month="@date.Month"  asp-route-day= "@date.Day" asp-route-name="@name" asp-route-role="@role">
                                                @role
                                            </a>
                                        }
                                        else if (title == "Projection Rota")
                                        {
                                            <a onclick="ConfirmDelete(this)" asp-action="DeleteFromRotaProjection" asp-route-year="@date.Year"asp-route-month="@date.Month"  asp-route-day= "@date.Day" asp-route-name="@name" asp-route-role="@role">
                                                @role
                                            </a>
                                        }
                                        else if (title == "Youth Rota")
                                        {
                                            <a onclick="ConfirmDelete(this)" asp-action="DeleteFromRotaYouthClub" asp-route-year="@date.Year"asp-route-month="@date.Month"  asp-route-day= "@date.Day" asp-route-name="@name" asp-route-role="@role">
                                                @role
                                            </a>
                                        }
                                    }

                                }

                            </td>
                        }
                    </tr>
                }

            }

        </table>

    </div>
</div>

<script>
    function ConfirmDelete(self) {
        let message = self.parentElement.getElementsByTagName("p")[0].innerHTML;
        if (confirm(message)) {
            return;
        }
        event.preventDefault();
    }
</script>