@using Emmaus.Helper;
@{
    var title = (string)ViewData["Title"];
    var rota = (RotaDictionary)ViewData["rota"];
    var names = ((IEnumerable<string>)ViewData["names"]);
}

<div class="mainWrapper">

    <!--#region table  -->
    <div class="rotaManagement">
        <div class="title">
            @title
        </div>

        @if (!names.Any() || !rota.DateNameJobListPairs.Any())
        {
            <p>Rota is empty</p>
        }

        else
        {
            <table class="tablePosition">
                <tr>
                    <th class="table-header"><span class="glyphicon glyphicon-time"></span></th>

                    @foreach (var name in names)
                    {
                        <th class="table-header">@name.JoinedCapitalizedNameToSpaceSeparatedName()</th>
                    }

                </tr>

                @if (rota.DateNameJobListPairs.Count > 0)
                {
                    @foreach (var date in rota.DateNameJobListPairs.Keys)
                    {
                        <tr>
                            <td class="field">@date.ToLocalTime().ToShortDateString()</td>
                            @foreach (string name in names)
                            {

                                <td class="field">
                                    <p hidden>Remove @name.JoinedCapitalizedNameToSpaceSeparatedName() from rota on: @date.ToLocalTime().ToShortDateString()</p>
                                    @{
                                        foreach (var role in @rota.DateNameJobListPairs[date].KeyValues[name])
                                        {
                                            if (title == "Band Rota")
                                            {
                                                <a onclick="ConfirmDelete(this)" asp-action="DeleteFromRotaBand" asp-route-dateTime="@date.ToLocalTime()" asp-route-name="@name" asp-route-role="@role">
                                                    @role
                                                </a>
                                            }
                                            else if (title == "Projection Rota")
                                            {
                                                <a onclick="ConfirmDelete(this)" asp-action="DeleteFromRotaProjection" asp-route-dateTime="@date.ToLocalTime()" asp-route-name="@name" asp-route-role="@role">
                                                    @role
                                                </a>
                                            }
                                            else if (title == "Youth Rota")
                                            {
                                                <a onclick="ConfirmDelete(this)" asp-action="DeleteFromRotaYouthClub" asp-route-dateTime="@date.ToLocalTime()" asp-route-name="@name" asp-route-role="@role">
                                                    @role
                                                </a>
                                            }
                                        }
                                    }
                                </td>
                            }
                        </tr>
                    }
                }

            </table>
        }


    </div>
</div>

<script>
    function ConfirmDelete(self) {
        let message = self.parentElement.getElementsByTagName("p")[0].innerHTML;
        if (confirm(message)) {
            return;
        }
        event.preventDefault();
    }
</script>