@model RoleInfo
@using Microsoft.AspNetCore.Identity;

@{
    var rota = ViewData["Rota"] as Dictionary<DateTime, Dictionary<string, List<string>>>;
    var name = (string)ViewData["Name"];
    var title = (string)ViewData["Title"];
    var youthJobs = ViewData["youthJobs"] as IEnumerable<string>;
    var bandJobs = ViewData["bandJobs"] as IEnumerable<string>;
    var projectionJobs = ViewData["projectionJobs"] as IEnumerable<string>;
}

<div class="mainWrapper">

    <div class="rotaManagement">
        <div class="title">
            @name Profile
        </div>

        @if (rota.Keys.Count == 0)
        {
            <p>No rota jobs</p>
        }

        else
        {
            <table class="tablePosition">
                <tr>
                    <th class="table-header">Date</th>
                    <th class="table-header">Band</th>
                    <th class="table-header">Youth</th>
                    <th class="table-header">Projector</th>
                </tr>

                @if (rota.Keys.Count > 0)
                {
                    @foreach (var date in rota.Keys)
                    {
                        <tr>
                            <td class="field">@date.ToLocalTime().ToShortDateString()</td>
                            @{
                                var youth = new List<string>() { };
                                var projection = new List<string>() { };
                                var band = new List<string>() { };
                                foreach (var role in @rota[date])
                                {

                                    if (RotaType.YouthClub.ToString().ToLower() == role.Key.ToLower())
                                    {
                                        youth = role.Value;
                                    }
                                    else if (RotaType.Band.ToString().ToLower() == role.Key.ToLower())
                                    {
                                        band = role.Value;
                                    }
                                    else if (RotaType.Projection.ToString().ToLower() == role.Key.ToLower())
                                    {
                                        projection = role.Value;
                                    }

                                }
                            }

                            <td class="field">
                                @string.Join(", ", band)
                            </td>
                            <td class="field">
                                @string.Join(", ", youth)
                            </td>
                            <td class="field">
                                @string.Join(", ", projection)
                            </td>
                        </tr>
                    }
                }
            </table>
        }
    </div>
</div>