<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />

    <meta itemprop="name" content="Emmaus Church Center" />
    <meta itemprop="description" content="Emmaus Church of Severn Beach welcomes everyone from the community to join us." />
    <meta itemprop="image" content="/images/emmausbuilding.jpg" />

</head>

<body background="/images/bluesky50.jpg">

    @functions
    {
        public string DisplaySubMenu()
        {
            string pageName = ViewBag.Title.ToLower();

            if (pageName.Contains("wider community"))
            {
                var homeLink = "<a class='subLink' href='/Ui/LoadAtHomeView'><p>At Home</p></a>";
                var overseasLink = "<a class='subLink' href='/Ui/LoadOverseasView'><p>Overseas</p></a>";
                return String.Concat(homeLink, overseasLink);
            }
            else if (pageName.Contains("services"))
            {
                var adultLink = "<a class='subLink' href='/Ui/LoadAdultServicesView'><p>Adult</p></a>";
                var childLink = "<a class='subLink' href='/Ui/LoadChildServicesView'><p>Children</p></a>";
                return String.Concat(adultLink, childLink);
            }

            else if (pageName.Contains("about") || pageName.Contains("history") || pageName.Contains("meet the team"))
            {
                var historyLink = "<a class='subLink' href='/Ui/LoadHistoryView'><p>Our&nbsp;History</p></a>";
                var teamLink = "<a class='subLink' href='/Ui/LoadMeetTheTeamView'><p>Our&nbsp;Team</p></a>";
                return String.Concat(teamLink, historyLink);
            }

            else if (pageName.Contains("usermanagement") && User.IsInRole("powerUser"))
            {
                var createUserLink = "<a class='subLink' href='/Ui/LoadCreateUserView'><p>Create&nbsp;User</p></a>";

                return String.Concat(createUserLink, "");
            }

            else if (pageName.Contains("rolemanagement") && User.IsInRole("powerUser"))
            {
                var createUserLink = "<a class='subLink' href='/Ui/LoadCreateRoleView'><p>Create&nbsp;Role</p></a>";

                return String.Concat(createUserLink, "");
            }

            else if (pageName.Contains("adultservicemanagement") && User.Identity.IsAuthenticated)
            {
                var createUserLink = "<a class='subLink' href='/Ui/LoadCreateAdultServiceView'><p>Create&nbsp;Service</p></a>";

                return String.Concat(createUserLink, "");
            }

            else if (pageName.Contains("kidservicemanagement") && User.Identity.IsAuthenticated)
            {
                var createUserLink = "<a class='subLink' href='/Ui/LoadCreateKidServiceView'><p>Create&nbsp;Service</p></a>";

                return String.Concat(createUserLink, "");
            }

            else if (pageName.Contains("rotamanagement") && User.Identity.IsAuthenticated)
            {
                var createUserLink = "<a class='subLink' href='/Ui/LoadCreateEventView'><p>Create&nbsp;event</p></a>";

                return String.Concat(createUserLink, "");
            }



            return "";
        }

        public string DisplaySubMenuRight()
        {
            var logoutLink = "";
            if (User.Identity.IsAuthenticated)
            {
                logoutLink = "<a class='subLinkRight'  href='/Ui/Logout'><p>Logout&nbsp;</p></a>";
            }
            else
            {
                return "<a class='subLinkRight'  href='/Ui/LoadLoginView'><p>Login&nbsp;</p></a>";
            }

            var editKidSerivceLink = "<a class='subLinkRight' href='/Ui/LoadKidServiceManagementView'><p>Kids&nbsp;Serivce</p></a>";
            var editAdultServiceLink = "<a class='subLinkRight' href='/Ui/LoadAdultServiceManagementView'><p>Adult&nbsp;Service</p></a>";

            if (User.IsInRole("powerUser"))
            {
                var userManagementLink = "<a class='subLinkRight' href='/Ui/LoadUserManagementView'><p>User&nbsp;Management</p></a>";
                var roleManagementLink = "<a class='subLinkRight' href='/Ui/LoadRoleManagementView'><p>Role&nbsp;Management</p></a>";
                var rotaManagementLink = "<a class='subLinkRight' href='/Ui/LoadRotaManagementView'><p>Rota&nbsp;Management</p></a>";
                return String.Concat(logoutLink, editKidSerivceLink, editAdultServiceLink, userManagementLink, roleManagementLink, rotaManagementLink);
            }

            return String.Concat(logoutLink, editKidSerivceLink, editAdultServiceLink);
        }
    }

    <div class="wrapper">

        <div class="navBarContainer">
            <p class="mainTitle">&nbsp;Emmaus Church Centre</p>
            <div class="navLinkContainer">
                <a class="navLink" asp-controller="Ui" asp-action="LoadWelcomeView">Welcome</a>
                <a class="navLink" asp-controller="Ui" asp-action="LoadAboutView">About</a>
                <a class="navLink" asp-controller="Ui" asp-action="LoadServicesView">Services</a>
                <a class="navLink" asp-controller="Ui" asp-action="LoadLocalCommunityView">Local&nbsp;Community</a>
                <a class="navLink" asp-controller="Ui" asp-action="LoadWiderCommunityView">Wider&nbsp;Community</a>
                <a class="navLink" asp-controller="Ui" asp-action="LoadLinksView">Links</a>
                <a class="navLink" asp-controller="Ui" asp-action="LoadContactUsView">Contact&nbsp;Us</a>
            </div>
        </div>

        <div class="subMenu">
            @Html.Raw(DisplaySubMenu())
        </div>

        <div class="subMenuRight">
            @Html.Raw(DisplaySubMenuRight())
        </div>

        @RenderBody()

        <div class="footer">
            <p>Copyright &copy; Emmaus Church</p>
        </div>

    </div>

    <script>
        let model = @Html.Raw(Json.Serialize(ViewBag.Title));

        window.onload = scrollIfRequired();

        function scrollIfRequired() {
             if (model === 'At Home Wider Community') {
                 scrollToDiv("atHome");
             }
             else if (model === 'Overseas Wider Community') {
                 scrollToDiv("overseas");
             }
        }

        function scrollToDiv(divName) {
            let elmnt = document.getElementById(divName);
            elmnt.scrollIntoView();
        }

        class MainTitle {
            constructor() {
                this.titleText = blinkObject.innerHTML;
                this.blinkerState = 0;
                this.index = 5;
                this.id;
            }

            UpdateTitle(text) {
                blinkObject.innerHTML = text;
            }

            SetTitle(word) {
                word = word.substring(0, this.index);
                switch (this.blinkerState) {
                    case 0: this.blinkerState = 1; break
                    case 1: word += ""; this.blinkerState = 0; break
                    default: break
                }
                this.UpdateTitle(word);
                this.Continue();
            }

            Continue() {
                if (this.blinkerState === 1) {
                    this.index++;
                }
                if (this.index <= this.titleText.length) {
                    this.StartBlinker(this.titleText);
                }
            }

            StartBlinker(word) {
                var self = this;
                setTimeout(function () {
                    self.SetTitle(word);
                }, 50)
            }
        }

        var blinkObject = document.getElementsByClassName('mainTitle')[0]
        var mainTitle = new MainTitle();
        mainTitle.StartBlinker(mainTitle.titleText);

    </script>

</body>

</html>