<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>

    <script src="~/js/SweetAlert.js"></script>

    <meta itemprop="name" content="Emmaus Church Center" />
    <meta itemprop="description" content="Emmaus Church of Severn Beach welcomes everyone from the community to join us." />
    <meta itemprop="image" content="/images/emmausbuilding.jpg" />
    <title>@ViewData["Title"]</title>
</head>

<body background="/images/blueSky.jpg">

    @functions
    {
    public string DisplaySubMenuLeft()
    {
        string pageName = ViewBag.Title.ToLower();
        string leftMenuConfig = ViewData["leftMenuConfig"] as string;

        if (pageName.Contains("wider community"))
        {
            var LeftLinkOne = "<li><a href='/Ui/LoadAtHomeView'><p>At Home</p></a></li>";
            var LeftLinkTwo = "<li><a href='/Ui/LoadOverseasView'><p>Overseas</p></a></li>";
            return String.Concat(LeftLinkOne, LeftLinkTwo);
        }
        else if (pageName.Contains("services"))
        {
            var LeftLinkOne = "<li><a href='/Ui/LoadAdultServicesView'><p>Adult</p></a></li>";
            var LeftLinkTwo = "<li><a href='/Ui/LoadChildServicesView'><p>Children</p></a></li>";
            return String.Concat(LeftLinkOne, LeftLinkTwo);
        }

        else if (pageName.Contains("about") || pageName.Contains("history") || pageName.Contains("meet the team"))
        {
            var LeftLinkOne = "<li><a href='/Ui/LoadMeetTheTeamView'><p>Our&nbsp;Team</p></a></li>";
            var LeftLinkTwo = "<li><a href='/Ui/LoadHistoryView'><p>Our&nbsp;History</p></a></li>";
            return String.Concat(LeftLinkOne, LeftLinkTwo);
        }

        else if (pageName.Contains("usermanagement") && User.IsInRole(Roles.admin.ToString()))
        {
            var LeftLinkOne = "<li><a href='/Ui/LoadCreateUserView'><p>Create&nbsp;User</p></a></li>";

            return String.Concat(LeftLinkOne, "");
        }

        else if (pageName.Contains("rolemanagement") && User.IsInRole(Roles.admin.ToString()))
        {
            var LeftLinkOne = "<li><a href='/Ui/LoadCreateRoleView'><p>Create&nbsp;Role</p></a></li>";

            return String.Concat(LeftLinkOne, "");
        }

        else if (pageName.Contains("adultservicemanagement") && User.Identity.IsAuthenticated)
        {
            var LeftLinkOne = "<li><a href='/Ui/LoadCreateAdultServiceView'><p>Create&nbsp;Service</p></a></li>";

            return String.Concat(LeftLinkOne, "");
        }

        else if (pageName.Contains("kidservicemanagement") && User.Identity.IsAuthenticated)
        {
            var LeftLinkOne = "<li><a href='/Ui/LoadCreateKidServiceView'><p>Create&nbsp;Service</p></a></li>";

            return String.Concat(LeftLinkOne, "");
        }

        else if (!string.IsNullOrEmpty(leftMenuConfig) && User.Identity.IsAuthenticated)
        {
            var LeftLinkOne = $"<li><a href='/Ui/LoadCreate{leftMenuConfig}View'><p>Add&nbsp;to&nbsp;rota</p></a></li>";
            var LeftLinkTwo = $"<li><a href='/Ui/LoadAddPersonTo{leftMenuConfig}View'><p>Rota&nbsp;members</p></a></li>";
            var LeftLinkThree = $"<li><a href='/Ui/LoadAddJobTo{leftMenuConfig}View'><p>Rota&nbsp;jobs</p></a></li>";

            return String.Concat(LeftLinkOne, LeftLinkTwo, LeftLinkThree);
        }


        return "";
    }

    public string DisplaySubMenuRight()
    {
        if (!User.Identity.IsAuthenticated) return "";

        var userDetails = "<li><a href='/Ui/LoadUserDetailsView'><p>Details</p></a></li>";
        var userProfilesLink = "<li><a href='/Ui/LoadUserProfilesView'><p>Profiles</p></a></li>";
        var editKidSerivceLink = "<li><a href='/Ui/LoadKidServiceManagementView'><p>Kids</p></a></li>";
        var editAdultServiceLink = "<li><a href='/Ui/LoadAdultServiceManagementView'><p>Adults</p></a></li>";
        var userManagementLink = string.Empty;
        var roleManagementLink = string.Empty;
        if (User.IsInRole(Roles.admin.ToString()))
        {
            userManagementLink = "<li><a href='/Ui/LoadUserManagementView'><p>Users</p></a></li>";
            roleManagementLink = "<li><a href='/Ui/LoadRoleManagementView'><p>Roles</p></a></li>";
        }

        var youthRotaLink = "<li><a href='/Ui/LoadYouthRotaView'><p>Youth</p></a></li>";
        var bandRotaLink = "<li><a href='/Ui/LoadBandRotaView'><p>Band</p></a></li>";
        var projectionRotaLink = "<li><a href='/Ui/LoadProjectionRotaView'><p>Projector</p></a></li>";
        return String.Concat(userDetails, userProfilesLink, editKidSerivceLink, editAdultServiceLink, userManagementLink, roleManagementLink,
            youthRotaLink, bandRotaLink, projectionRotaLink);


        return String.Concat(editKidSerivceLink, editAdultServiceLink);
    }

    public string GetAuthenticatedLink()
    {
        var link = "";
        if (User.Identity.IsAuthenticated)
        {
            link = "<a href='/Ui/Logout'>Logout</a>";
        }
        else
        {
            link = "<a href='/Ui/LoadLoginView'>Login</a>";
        }
        return link;
    }

    }

    <div class="wrapper">

        <div class="v1">
            <div class="navbar">
                <p>Emmaus&nbsp;Church&nbsp;Centre</p>
                <a class="link-visible" asp-controller="Ui" asp-action="LoadWelcomeView">Welcome</a>

                <div class="dropdown-visible dropdown">
                    <button class="dropbtn"><a asp-controller="Ui" asp-action="LoadWelcomeView">Welcome</a></button>
                    <div class="dropdown-content">
                        <a>&nbsp</a>
                        <a asp-controller="Ui" asp-action="LoadEventsView">Events&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </div>
                </div>

                <a asp-controller="Ui" asp-action="LoadAboutView">About</a>
                <a asp-controller="Ui" asp-action="LoadServicesView">Services</a>
                <div class="dropdown-visible dropdown">
                    <button class="dropbtn">Community</button>
                    <div class="dropdown-content">
                        <a>&nbsp</a>
                        <a asp-controller="Ui" asp-action="LoadLocalCommunityView">Local&nbsp;Community</a>
                        <a asp-controller="Ui" asp-action="LoadWiderCommunityView">Wider&nbsp;Community</a>
                    </div>
                </div>
                <a class="link-visible" asp-controller="Ui" asp-action="LoadLocalCommunityView">Local&nbsp;Community</a>
                <a class="link-visible" asp-controller="Ui" asp-action="LoadWiderCommunityView">Wider&nbsp;Community</a>
                <a asp-controller="Ui" asp-action="LoadLinksView">Links</a>
                <a asp-controller="Ui" asp-action="LoadContactUsView">Contact</a>
                @Html.Raw(GetAuthenticatedLink())
            </div>
        </div>

        <div class="v2">
            <div class="navbar">
                <p>Emmaus&nbspChurch</p>
                <div class="dropdown-visible dropdown">
                    <button class="dropbtn">&#9776</button>
                    <div class="dropdown-content">
                        <a>&nbsp</a>
                        <a asp-controller="Ui" asp-action="LoadWelcomeView">Welcome</a>
                        <a asp-controller="Ui" asp-action="LoadEventsView">Whats&nbsp;On</a>
                        <a asp-controller="Ui" asp-action="LoadAboutView">About</a>
                        <a asp-controller="Ui" asp-action="LoadServicesView">Services</a>
                        <a asp-controller="Ui" asp-action="LoadLocalCommunityView">Local&nbsp;Community</a>
                        <a asp-controller="Ui" asp-action="LoadWiderCommunityView">Wider&nbsp;Community</a>
                        <a asp-controller="Ui" asp-action="LoadLinksView">Links</a>
                        <a asp-controller="Ui" asp-action="LoadContactUsView">Contact&nbsp;Us</a>
                        @Html.Raw(GetAuthenticatedLink())
                    </div>
                </div>
            </div>
        </div>

        @{string pageName = ViewBag.Title.ToLower();
            if (pageName != "welcome")
            {
                <div class="sideBarLeft">
                    <ul>
                        @Html.Raw(DisplaySubMenuLeft())
                    </ul>
                </div>

                <div class="sideBarRight">
                    <ul>
                        @Html.Raw(DisplaySubMenuRight())
                    </ul>
                </div>
            }
        }

        @RenderBody()

        <div class="footer">
            <p>Copyright &copy; Emmaus Church</p>
        </div>

    </div>

    <script>
        var authenticated = "@User.Identity.IsAuthenticated";
        if (authenticated === 'True') {
            document.getElementsByClassName("mainWrapper")[0].style.minHeight = "500px";
        }

        $(document).ready(function () {
            printMessasge();
        });
        function printMessasge() {
            let message = '@TempData["Message"]';
            if (message !== "") {
                sweetAlert(message);
            }
        }

        $(function () {
            $(document).tooltip();
        });

    </script>

</body>

</html>